<section class="content-main">
  {{!-- <form action="/admin/add-product" method="POST" enctype="multipart/form-data"> --}}
  <form action="/admin/add-product" method="POST">
    <div class="row">
      <div class="col-6">
        <div class="content-header">
          <h2 class="content-title">Add New Product</h2>
          <div>
            <button type="submit" class="btn btn-md rounded font-sm hover-up">Add Product</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <h6>1. General info</h6>
              </div>
              <div class="col-md-9">
                <div class="mb-4">
                  <label class="form-label">Product Name</label>
                  <input
                    type="text"
                    name="name"
                    placeholder="Type here"
                    class="form-control"
                    required
                  />
                </div>
                <div class="mb-4">
                  <label class="form-label">Short Description</label>
                  <textarea
                    name="shortDesc"
                    placeholder="Type here"
                    class="form-control"
                    rows="4"
                    required
                  ></textarea>
                </div>
                <div class="mb-4">
                  <label class="form-label">Long Description</label>
                  <textarea
                    name="description"
                    placeholder="Type here"
                    class="form-control"
                    rows="4"
                    required
                  ></textarea>
                </div>
                <div class="mb-4">
                  <label class="form-label">Brand name</label>
                  <select name="brand" class="form-select" required>
                    <option value="">Select Brand</option>
                    <option value="Adidas">Adidas</option>
                    <option value="Nike">Nike</option>
                    <option value="Puma">Puma</option>
                  </select>
                </div>
              </div>
              <!-- col.// -->
            </div>
            <!-- row.// -->
            <hr class="mb-4 mt-0" />
            <div class="row">
              <div class="col-md-3">
                <h6>2. Pricing</h6>
              </div>
              <div class="col-md-9">
                <div class="mb-4">
                  <label class="form-label">MRP Rate</label>
                  <input 
                    type="number" 
                    name="price"
                    placeholder="0.00" 
                    class="form-control"
                    step="0.01"
                    required 
                  />
                </div>
                <div class="mb-4">
                  <label class="form-label">Discount Rate</label>
                  <input 
                    type="number" 
                    name="discountPrice"
                    placeholder="0.00" 
                    class="form-control"
                    step="0.01"
                    required 
                  />
                </div>
                <div class="mb-4">
                  <label class="form-label">Stock Quantity</label>
                  <input 
                    type="number" 
                    name="stock"
                    placeholder="0" 
                    class="form-control"
                    required 
                  />
                </div>
              </div>
              <!-- col.// -->
            </div>
            <!-- row.// -->
            <hr class="mb-4 mt-0" />
            <div class="row">
              <div class="col-md-3">
                <h6>3. Category</h6>
              </div>
              <div class="col-md-9">
                <div class="mb-4">
                  <label
                    class="mb-2 form-check form-check-inline"
                    style="width: 45%;"
                  >
                    <input
                      class="form-check-input"
                      name="category"
                      type="radio"
                      value="Male"
                      required
                    />
                    <span class="form-check-label"> Male </span>
                  </label>
                  <label
                    class="mb-2 form-check form-check-inline"
                    style="width: 45%;"
                  >
                    <input
                      class="form-check-input"
                      name="category"
                      type="radio"
                      value="Female"
                    />
                    <span class="form-check-label"> Female </span>
                  </label>
                  <label
                    class="mb-2 form-check form-check-inline"
                    style="width: 45%;"
                  >
                    <input
                      class="form-check-input"
                      name="category"
                      type="radio"
                      value="Unisex"
                    />
                    <span class="form-check-label"> Unisex </span>
                  </label>
                </div>
              </div>
              <!-- col.// -->
            </div>
            <!-- row.// -->
            <hr class="mb-4 mt-0" />
            {{!-- <div class="row">
              <div class="col-md-3">
                <h6>4. Media</h6>
              </div>
              <div class="col-md-9">
                <div class="mb-4">
                  <label class="form-label">Images</label>
                  <input 
                    class="form-control" 
                    type="file" 
                    name="images"
                    accept="image/*"
                    multiple
                    required
                  />
                </div>
              </div>
              <!-- col.// -->
            </div> --}}
            <!-- .row end// -->
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<!-- content-main end// -->